.container {    
    max-width: 720px;
    margin: 0 auto;
    
    height: 105px;
    
    display: flex;
    align-items: center;
    justify-content: left;

    img {
        cursor: pointer;
    }
}